.btn {
  border: 1px solid transparent;
  padding: 1em;
  border-radius: var(--radius);
  font: inherit;
  cursor: pointer;
  transition: var(--duration);
}

.btn.small {
  padding: 0.2em;
}

.btn:hover {
  filter: brightness(.99);
}

.btn.btn-primary {
  background-color: var(--tertiary-color);
  color: inherit;
}