@import 'outliner';

.dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 450px 1fr 250px;
}

.dashboard-panel {
  padding: calc(var(--space) * 2);
  box-shadow: var(--shadow-sm-right);
}

.dashboard-panel-form {
  display: grid;
  gap: calc(var(--space) * 2);
}

.dashboard-body {
  position: relative;
  padding: calc(var(--space) * 2);
}