.outliner {
  padding: calc(var(--space) * 2);
  box-shadow: var(--shadow-sm-left);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 1em;
}

.outliner-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  padding: .75em;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--duration);
  word-break: break-all;
}

.outliner-item:hover {
  box-shadow: var(--shadow);
}

.outliner-item button {
  flex: none;
}